# duckDB Test Results
## 1-Hour Timeframe
- **Time Frame:** 2022-04-04 00 to 2022-04-04 01
- **Execution Time:** 20258.7472 ms
- **Most Placed Color:** #000000
- **Most Placed Pixel Location**: (0, 0)
## 3-Hour Timeframe
- **Time Frame:** 2022-04-04 11 to 2022-04-04 14
- **Execution Time:** 19416.9526 ms
- **Most Placed Color:** #000000
- **Most Placed Pixel Location**: (0, 0)
## 6-Hour Timeframe
- **Time Frame:** 2022-04-04 15 to 2022-04-04 21
- **Execution Time:** 20669.9629 ms
- **Most Placed Color:** #FFFFFF
- **Most Placed Pixel Location**: 0,0
