# Pandas Test Results
## 1-Hour Timeframe
- **Time Frame:** 2022-04-04 00 to 2022-04-04 01
- **Execution Time:** 1547919.9568 ms
- **Most Placed Color:** #000000
- **Most Placed Pixel Location**: (0, 0)
## 3-Hour Timeframe
- **Time Frame:** 2022-04-04 11 to 2022-04-04 14
- **Execution Time:** 1599632.3145 ms
- **Most Placed Color:** #000000
- **Most Placed Pixel Location**: (0, 0)
## 6-Hour Timeframe
- **Time Frame:** 2022-04-04 15 to 2022-04-04 21
- **Execution Time:** 1682478.0105 ms
- **Most Placed Color:** #FFFFFF
- **Most Placed Pixel Location**: 0,0
