# polars Test Results
## 1-Hour Timeframe
- **Time Frame:** 2022-04-04 00 to 2022-04-04 01
- **Execution Time:** 1920.3540 ms
- **Most Placed Color:** #000000
- **Most Placed Pixel Location**: (0, 0)
## 3-Hour Timeframe
- **Time Frame:** 2022-04-04 11 to 2022-04-04 14
- **Execution Time:** 2219.9702 ms
- **Most Placed Color:** #000000
- **Most Placed Pixel Location**: (0, 0)
## 6-Hour Timeframe
- **Time Frame:** 2022-04-04 15 to 2022-04-04 21
- **Execution Time:** 3610.4059 ms
- **Most Placed Color:** #FFFFFF
- **Most Placed Pixel Location**: 0,0
